[project]
	description = Personal test code
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mario David (mariojmdavid)
[access "refs/for/refs/*"]
	read = group user/Mario David (mariojmdavid)
	push = group user/Mario David (mariojmdavid)
	label-Code-Review = -2..+2 group user/Mario David (mariojmdavid)
	label-Verified = -1..+1 group user/Mario David (mariojmdavid)
	rebase = group user/Mario David (mariojmdavid)
	removeReviewer = group user/Mario David (mariojmdavid)
	submit = group user/Mario David (mariojmdavid)
[access "refs/heads/*"]
	read = group user/Mario David (mariojmdavid)
	create = group user/Mario David (mariojmdavid)
	push = +force group user/Mario David (mariojmdavid)
	pushMerge = group user/Mario David (mariojmdavid)
[access "refs/tags/*"]
	push = +force group user/Mario David (mariojmdavid)
	pushTag = group user/Mario David (mariojmdavid)
	pushSignedTag = group user/Mario David (mariojmdavid)
